#hxToggle{
    position: relative;
    border-radius:4px;
    margin: 0 auto;
    width: 120px;
    overflow: hidden;
}
#hxToggle li{
    float: left;
    cursor: pointer;
    border: 1px solid white;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#hxToggle li:first-child{
    border-radius: 8px 0 0 8px;
}
#hxToggle li:last-child{
    border-radius: 0 8px 8px 0;
    margin-left: -1px;
}
#hxToggle .activity{
    color:#FF7D00;
    background-color: white;
}