<ion-view view-title="余额信息" class="back-ground-view">
    <ion-content class="padding padding" scroll="false">
        <div class="list queryContent">
            <label class="item item-input">
                <span class="input-label">用户名：</span>
                <span>{{balanceInfo.name}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">卡号：</span>
                <span>{{balanceInfo.cardNo}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">余额:</span>
                <span>{{balanceInfo.overage}}</span>
            </label>
        </div>

    </ion-content>

</ion-view>