<ion-view class="zxcZn" view-title="服务指南">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-reply backBtn" ng-click="goBackView()"></button>
    </ion-nav-buttons>
    <ion-content class="padding bg">
        <h4>自行车服务指南</h4>
        <div class="item item-text-wrap">
           <!------------------------------------------------------------------------------------>
            <div><strong>如何办理借车卡</strong> <br>
                1、年龄在14周岁以上至70周岁以下，身体健康、具有熟练骑行自行车能力。 <br>
                2、凭本人身份证等有效身份证明文件正本及复印件（以供核对）；军人凭军人有效证件办理；港、澳、台及外籍人士凭港、澳、台通行证或外国护照办理；</div>
            <div>    3、一张身份证明只能办理一张具有租赁公共自行车功能的中山通IC卡 <br>
                4、办卡： <br>
                ①持中山通IC卡在办卡点直接开通,开通时需填申请表及交200元自行车保证金。</div>
            <div>        ②新办理中山通IC卡的市民，先办理及开通中山通IC卡（中山通IC卡工本费20元），IC卡充值金额不低于25元，然后填申请表，交纳200元自行车保证金。</div>
            <div>        ③自行车保证金收据妥实保管，注销借车手续时交回保证金收据。</div>
            <div>    5、如实填写办卡申领表和熟知《中山市公共自行车租赁申请条件和条款》内容，并签字确认。</div>
            <div>    6、办卡地址：</div>
            <div>         市区：中山纪念堂、竹苑壹加壹、假日广场、中山公共汽车总站、北区公园、人民医院、南区市场、中山驾协（中山三路）、工商银行（城区各工商银行）；</div>
            <div>         三乡镇：三乡市场正门、金谷供电公司、雅居乐钟楼、宝元医院正门、顺昌广场正门；</div>
            <div>         古镇镇：海洲健身广场、文化公园（工商银行斜对面）、四海益华百货对面公交站点；</div>
            <div>         火炬开发区：天矣国际站、领秀城站、陵岗站、大岭站、江陵东路站、环茂一路站、康乐大道站、火炬公交枢纽站；</div>
            <div>         办卡时间：上午8：30-12：00，下午14：00-17：30</div>
            <div>         注：工商银行仅办理金融IC卡开通租赁自行车功能</div>
            <div>   </div>
            <div><strong>如何办理注销租车功能</strong><br>
                1、凭本人身份证等有效证件及复印件、中山通IC卡和办卡时所开具的自行车保证金收据到自行车服务中心办理，地址：中山市西区富华道50号公共汽车总站（中山通IC卡客服中心大厅）。<br>
                2、核对信息后注销借车功能。<br>
                3、退还200元自行车保证金。</div>
            <div> </div>
            <div><strong>如何办理借车卡换卡、遗失、补办手续</strong> <br>
                <strong>  1</strong><strong>、借车卡说明：</strong></div>
            <div>        ①公共自行车借车卡统一采用中山通IC卡（包括普通卡、纪念卡、老年人卡、学生卡、残疾人卡、优抚对象卡、天翼中山通卡、移动中山通卡等），需办理相关手续才能开通自行车租赁功能。</div>
            <div>        ②借车卡的退卡、换卡、挂失、补办业务将按照《中山通IC卡发行应用管理规定》进行处理，中山通IC卡服务热线：88669222，中山通IC卡客户服务中心地址：中山市西区富华道50号公共汽车总站。</div>
            <div> </div>
            <div><strong>  2</strong><strong>、</strong>换卡<strong>：</strong> <br>
                ①若借车卡故障或损坏导致不能借车的，有借车行为的，先还车，再到中山通IC卡客户服务中心进行检测，并办理按照《中山通IC卡发行应用管理规定》换卡手续。 <br>
                ②属个人原因需要对借车卡更换的，用户需持旧卡、持卡人身份证、保证金收据到自行车服务中心办理旧卡注销后，提供新卡进行重新登记，再对新卡自行租赁功能进行开通。</div>
            <div> </div>
            <div><strong>  3</strong><strong>、遗失：</strong> <br>
                ①借车卡遗失后请立即致电公共自行车服务热线：88899969，提供核对办卡人身份证、卡号等相关信息后，我们立即对自行车租赁功能进行口头挂失。 <br>
                ②口头挂失后，请在7天之内带上身份证原件到办卡点正式挂失。 <br>
                ③挂失期间找回，可拨打服务热线：88899969，核对办卡人身份证、卡号等相关信息后，取消挂失。</div>
            <div>         ④按照《中山通IC卡发行应用管理规定》使用中山通不记名卡（指普通卡、纪念卡、天翼中山通卡等）电子钱包功能不挂失、不退卡；记名卡（指老年人卡、学生卡、残疾人卡、优抚对象卡等）电子钱包功能可挂失、可补办，记名卡可凭有效证件到富华总站中山通IC卡服务中心办理挂失和补办手续。</div>
            <div>     </div>
            <div><strong>  4</strong><strong>、补办：</strong> <br>
                ①原借车人办理挂失手续后，到公共自行车服务中心填写补卡登记表。 <br>
                ②重新提供需开通自行车功能的中山通IC卡（新卡可在中山通网点办理）。 <br>
                ③补办新卡后，原IC卡上的租车信息自动转移到新卡账户上。</div>
            <div><br>
                <strong>如何办理损坏、遗失赔偿</strong> <br>
                1、自行车遗失后，请到公共自行车管理服务中心，按669元/辆办理赔偿手续。 <br>
                2、因使用不当，造成自行车车架和车轮发生断裂、扭曲变形或其他零件损坏，按实际维修费用赔偿。 <br>
                <br>
                <strong>借车收费标准</strong> <br>
                中山市公共自行车租车时间当日累计1小时内免费，超过1小时以上的，按每小时1元计费（不足1小时的按1小时计）；当日累计最高限价计费23元，超过当日计费时间则循环累积计费。<br>
                <br>
                <strong>借、还车流程</strong> <br>
                <br>
                <strong>借车：</strong> <br>
                1、将借车卡平放在公共自行车锁止器刷卡区上刷卡。 <br>
                2、听到语音提示&ldquo;请取车&rdquo;后，在20秒内将车拉出，即借车成功，并切记取回借车卡，妥善保管。 <br>
                <br>
                <strong>还车：</strong> <br>
                1、先将公共自行车推入锁止器。 <br>
                2、听语音提示&ldquo;请还车刷卡&rdquo;后，将借车卡平放在刷卡区内5秒左右。 <br>
                3、听到语音提示&ldquo;还车成功，请取卡&rdquo;后，将卡收回，即还车成功。 <br>
                <br>
                <strong>无法借车处理办法</strong> <br>
                ①刷卡太快或刷卡时卡未放好。请将卡放置在感应区域，待语音提示&ldquo;请取车&rdquo;后，取车。 <br>
                ②车桩上车未停好。将自行车扶正后，往前轻推，刷卡取车。 <br>
                ③该卡已借出公共自行车，但未还车。请还好车后，再借车。 <br>
                ④借车时听到语音提示&ldquo;通讯故障暂停使用&rdquo;。请换桩借车。 <br>
                ⑤一人持有多张卡借车时，切勿使用已借过车的借车卡借车。 <br>
                ⑥借车刷卡时，未有语音提示或指示灯未亮，可换桩刷卡。</div>
            <div>    ⑦卡内欠费，租车功能锁死，请充值后解锁再租车。 <br>
                <br>
                <strong>无法还车处理办法</strong> <br>
                ①还车时车推不进去，可检查锁止器进出口是否有黄色舌头弹出，可联系管理中心进行处理。 <br>
                ②还车时出现锁止器重复锁车，可将车轻慢推入车桩，切勿推到底，即可还车。 <br>
                ③还车时无任何锁车工作，可换桩还车，也可拨打热线，维护人员将到现场解决。 <br>
                <br>
                <strong>温馨提示</strong> <br>
                1、一张借车卡，只能借一辆公共自行车。</div>
            <div>    2、借车卡限由持卡人使用，不得转借他人。擅借他人使用，发生的一切问题由持卡人负责。</div>
            <div>    3、借、还车需刷卡。还车未刷卡可能会造成借车卡暂停使用，第二次无法正常借车。 <br>
                4、还车时要将车按提示扶正后推入车桩，再刷卡。待语音提示后，将卡收回。 <br>
                5、借车成功后20秒内推出，否则20秒后车会自动锁住，同时车自动进入还车未刷卡状态，将造成第二次无法借车。 <br>
                6、办卡后24小时内不接受注销自行车租赁功能，24小时后可带上身份证、借车卡，凭收据办理功能注销。 <br>
                7、借车前请仔细检查车辆有无损坏，如有损坏请勿借用，否则造成的交通事故自行承担。 <br>
                8、骑车过程中请遵守交通规则，如有违反，后果自行承担。</div>
            <div>    9、自行车租用期间卡内余额不足支付租车费用，将锁死租车功能，卡片只能还车不能借车。到办卡点充值后方可解锁租车功能。</div>
            <div>    10、借车超过48小时以上，租赁人将进入黑名单，追回自行车；车辆遗失，按车价折旧价值扣除押金，如不足将追偿差价。</div>
            <div><strong>安全提示</strong></div>
            <div>    1、遵守国家道路交通安全法，请在单车专用道、非机动车道内骑行，过斑马线请下车推行。</div>
            <div>    2、雨天路面湿滑，注意控制车速及刹车，避免车速过快急刹，造成摔车事故。</div>
            <div>    3、下坡及拐弯注意点刹控制车速，避免摔车意外发生。</div>
            <div>    4、骑车勿开小差，注意前方路面状况，防止意外发生。</div>
            <div>如借、还车及实际使用中出现问题或有任何意见、建议，可拨打服务热线： 88899969。</div>

            <!------------------------------------------------------------------------------------>
        </div>
    </ion-content>
</ion-view>