<div class="modal">
    <div class="bar bar-header app-bar">
        <h1 class="title">中山通注册协议</h1>
        <button class="button button-outline button-white" ng-click="closeProtocol()">关闭</button>
    </div>
    <ion-content class="padding has-header back-ground-view" has-bouncing="true" style="bottom: 44px">
       <article class="protocolContent">
           <h4>注册前请先阅读会员注册协议,请您自觉遵守以下条款：</h4>
           <p>1.所有用户应遵守国家法律、行政法规、部门规章等规范性文件以及与中山通的协议、中山通服务条款、中山通规则的约定。</p>
           <p>2.提供详尽、正确的个人资料；详尽、正确的用户资料和联系方式。</p>
           <p>3.若相应的法律要求中山通平台提供用户的个人资料，如果用户提供的资料包含有不正确的信息，中山通平台保留结束用户使用网络服务资格的权利。</p>
           <p>4.遵守所有使用网络服务的网络协议、规定、程序和惯例。 用户须承诺不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽等信息资料。另外，用户也不能传输任何教唆他人构成犯罪行为的资料；不能传输助长国内不利条件和涉及国家安全的资料；不能传输任何不符合当地法规、国家法律和国际法律的资料。若用户的行为不符合以上提到的服务条款，中山通平台将作出独立判断立即取消用户服务帐号。用户需对自己在网上的行为承担法律责任。用户若在中山通平台上散布和传播反动、色情或其他违反国家法律的信息，中山通平台的系统记录有可能作为用户违反法律的证据。</p>
           <p>5.根据相关法令的指定或者中山通服务规则的判断，若您的行为涉嫌违反法律法规的规定或违反本协议或规则的条款的，中山通有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、或直接停止提供服务。</p>
       </article>

    </ion-content>
    <div class="bar bar-footer" style="background-color: #EEE">
        <div class="title">Copyright &copy; 2014-2015 hxSmart All Rights Reserved</div>
    </div>
</div>