
<ion-view view-title=" " class="back-ground-view mine" hide-back-button="true" hide-nav-bar="true">
 <ion-header-bar class="bar-clear" align-title="center" style="z-index: 999">
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-arrow-left backBtn" ng-click="goBackView()">返回</button>
        </div>
        <h1 class="title">个人中心</h1>
    </ion-header-bar>

    <ion-content class="has-header" scroll="false" style="top: 0">
        <div class="mineHead">
            <div>
                <img src="img/icon.png">
                <p>{{currentUser.phone}}</p>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right margin-top-20" href="#/home/activityResults">
                <i class="icon ion-nuclear itemIcon backColor-1"></i>
                越野成绩
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/home/alterInfo">
                <i class="icon ion-ios-compose itemIcon backColor-2"></i>
                修改密码
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

