<ion-view class="back-ground-view" view-title="短信验证" hide-back-button="true">
    <div class="regContent">
        <ion-content class="padding" has-bouncing="true" scroll="false">
            <div class="sucCircle">
                <i class="ion-checkmark"></i>
            </div>
            <ul>
                <li class="sucLabel">验证成功</li>
                <li>
                    <a class="button button-balanced button-full loginBtn" ng-click="goLogin()">
                        登 录
                    </a>
                </li>
            </ul>
        </ion-content>
    </div>
</ion-view>