<ion-view class="zstWd bg" view-title="中山通" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-reply backBtn" ng-click="goBackView()"></button>
    </ion-nav-buttons>
    <!--<ion-content class="padding">
        <div class="list bordR5" id="slide" ng-init="slideMenu()">
            <div class="item item-divider">
                附近网点
            </div>
            <div>
                <a class="item" ng-repeat="itms in station.fuJin"  >
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>
            <div class="item item-divider">
                石岐区网点
            </div>
            <div>
                <a class="item"  ng-repeat="itms in station.shiQiQu" href="#/zsTong/mapShow/shiQiQu/{{$index}}">
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>
            <div class="item item-divider">
                东区网点
            </div>
            <div>
                <a class="item" ng-repeat="itms in station.dongQu" href="#/zsTong/mapShow/dongQu/{{$index}}">
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>
            <div class="item item-divider">
                西区网点
            </div>
            <div>
                <a class="item" ng-repeat="itms in station.xiQu" href="#/zsTong/mapShow/xiQu/{{$index}}">
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>

            <div class="item item-divider">
                南区网点
            </div>
            <div>

                <a class="item" ng-repeat="itms in station.nanQu" href="#/zsTong/mapShow/nanQu/{{$index}}">
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>
            <div class="item item-divider">
                五桂山区网点
            </div>
            <div>
                <a class="item" ng-repeat="itms in station.wuGuiShanQu" href="#/zsTong/mapShow/wuGuiShanQu/{{$index}}">
                    <ul>
                        <li>{{itms.name}}</li>
                        <li>{{itms.address}}</li>
                        <li class="ion-ios-telephone">&nbsp;{{itms.tel}}</li>
                        <li class="ion-ios-location">&nbsp;1.4km</li>
                    </ul>
                    <i class="icon ion-chevron-right slipBtn"></i>
                </a>
            </div>
        </div>
    </ion-content>-->
<ion-content scroll="false" padding="true">

    <h3 style="text-align: center; margin-top: 50px">建设中...</h3>
</ion-content>
</ion-view>