<ion-view view-title="所有线路">
    <ion-content scroll="false">
        <div class="row borderBottom">
            <div class="col">
               <strong>
                   共7条线路
               </strong>
            </div>
        </div>
        <ion-scroll class="allLineList" has-bouncing="true">
            <div class="list">
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">237</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">237</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">362</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">362</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">338</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">339</span>
                </a>
                <a class="item item-icon-right" href="#/bus/station-detail">
                    <span class="lineNo">339</span>
                </a>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>