
<!--<ion-view view-title="公交换乘" ng-init="transferInit.inputTip();transferInit.queryOpt()">-->
    <!--<div style="display: none" id="l-map"></div>
    <div id="hide" style="display: none"></div>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-reply backBtn" ng-click="goBackView()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <form role="form" name="queryForm">
        <div class="row">
            <div class="col-10" style="max-width: 40px">
                <button class="locationExchangeBtn" ng-click="locationExchange()"></button>
            </div>
            <div class="col">
                <div class="item inputBorder" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px">
                    <a class="icon ion-location chooseLocation" ng-click="shooses('start')"></a>
                    <input type="text" placeholder="输入起点" id="startId" ng-model="busGloab.inputModel.sm" ng-focus="enabledTip()"
                           style="padding-left: 20px; width: 100%; margin-left: 0" required>

                    <div id="startPanel" class="searchResultPanel"></div>
                    <div style="background-color: green" class="badges"></div>
                </div>
                <div class="item item-input inputBorder" style="padding-left: 0px; padding-right: 0px" >
                    <a class="icon ion-location chooseLocation"  ng-click="shooses('end')"></a>
                    <input type="text" placeholder="输入终点" id="endId" ng-model="busGloab.inputModel.em"
                           style="padding-left: 20px; width: 100%; margin-left: 0" ng-focus="enabledTip()" required>
                    <div id="endPanel" class="searchResultPanel"></div>
                    <div style="background-color: red" class="badges"></div>
                </div>
            </div>
        </div>
        <div class="padding-left padding-right">
            <button class="button button-small button-block button-positive" style="border-radius: 5px;  font-size: 18px"
                    ng-click="t=1; queryFerScheme()" ng-init="t=0" ng-disabled="queryForm.$invalid">查 询
            </button>

        </div>
            </form>
        <ion-scroll class="schemeContent" has-bouncing="true">
            <ion-list ng-if="t">
                <div ng-repeat="group in transferScheme">
                    <ion-item class="item-stable" ng-if="$index==0"
                              ng-click="toggleGroup(group,0)"
                              ng-class="{active: isGroupShown(group)}"
                              ng-init="toggleGroup(group);isGroupShown(group)==false">
                        <i class="icon" ng-class="isGroupShown(group) ?'ion-chevron-up' :'ion-chevron-down'"
                           style="position: absolute; left: 100%; margin-left: -28px; top: 50%; margin-top: -10px;"></i>

                        <div class="item-title">方案</div>
                        <span class="badge badge-royal">{{$index+1}}</span>

                        <div ng-bind-html="group.tip" style="font-size: 14px"></div>
                    </ion-item>
                    <ion-item class="item-stable" ng-if="$index>0"
                              ng-click="toggleGroup(group,$index)"
                              ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ?'ion-chevron-up' :'ion-chevron-down'"
                           style="position: absolute; left: 100%; margin-left: -28px; top: 50%; margin-top: -10px;"></i>

                        <div class="item-title">方案</div>
                        <span class="badge badge-royal">{{$index+1}}</span>

                        <div ng-bind-html="group.tip" style="font-size: 13px"></div>
                    </ion-item>
                    <ion-item class="item-accordion"
                              ng-repeat="item in group.description" ng-show="isGroupShown(group)">
                        <div ng-if="$index == 0"
                             style="width: 11px; height: 11px; background-color: #008000; margin-top: 4px; margin-bottom: 2px"></div>
                        <div class="bargraph"></div>
                        <i ng-if="item.indexOf('步行') > 0" class="icon ion-android-walk" style="font-size: 20px"></i>
                        <i ng-if="item.indexOf('步行') < 0" class="icon ion-android-bus" style="font-size: 17px"></i>
                        <span ng-bind-html="item" style="font-size: 13px;   padding-left: 8px;"></span>

                        <div ng-if="group.description.length == $index + 1">
                            <div class="bargraph" style="margin-bottom: 5px"></div>
                            <div style="width: 11px; height: 11px; background-color: #e44221;"></div>
                            <a class="button icon ion-ios-location button-outline button-balanced button-small" href="#/bus/transfer-map" style="left: 50%; margin-left: -35px; margin-top: -16px"> 查看地图 </a>
                        </div>

                    </ion-item>
                </div>
                <div style="font-size: 22px; position: relative; left: 50%; top:50px; margin-left: -100px" ng-if="transferScheme.length == 0" ng-bind-html="tipInfo"></div>
            </ion-list>
        </ion-scroll>
    </ion-content>-->

<!--</ion-view>-->
<ion-view view-title="公交车">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-reply backBtn" ng-click="goBackView()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">

        <h3 style="text-align: center; margin-top: 50px">建设中...</h3>
    </ion-content>
</ion-view>
