
.homeContent .row{
    margin-bottom: 18px
}
.homeContent .row .col{
    text-align: center
}
.row .button .icon:before{
    display: inline-block;
    padding: 10px 0 0 0;
    vertical-align: inherit;
    font-size: 50px;
    color: #ffffff;
    line-height: 30px;
    pointer-events: none; }

.menuTitle{
    font-size: 14px; margin-top: 5px; color: #000;

}
.menuBtn{
    border-radius: 50%; width: 60px; height: 60px; line-height: 60px; padding: 8px;
    /*background-color: #F6821F;*/
    border-color: rgba(221, 113, 0, 0.93);
    background-color: #FF7D00;
    background-image: linear-gradient(0deg, #e87400, rgba(255, 125, 0, 0.96) 50%, transparent 50%);

}
.titleBtn{
    border: none; border-radius: 50%; width: 25px; height: 25px; margin: auto 0;
}
.row .menuBtn .icon:before{
    display: inline-block;
    vertical-align: inherit;
    font-size: 40px;
    color: #f3f3f3;
    line-height: 20px;
    text-shadow: 0px 0px 2px #4b4b4b;
    pointer-events: none; }

.homeContent .button.activated{
    background-image: -moz-linear-gradient(bottom, rgba(4, 54, 42, 0.78), rgba(4, 54, 42, 0.78));
    background-image: -webkit-linear-gradient(bottom, rgba(4, 54, 42, 0.78), rgba(4, 54, 42, 0.78));
    background-image: -o-linear-gradient(bottom, rgba(4, 54, 42, 0.78), rgba(4, 54, 42, 0.78));
    background-image: -ms-linear-gradient(bottom, rgba(4, 54, 42, 0.78), rgba(4, 54, 42, 0.78));
    background-image: linear-gradient(bottom, rgba(4, 54, 42, 0.78), rgba(4, 54, 42, 0.78));
}

#wlc{
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    top:0; position: absolute;left:0;bottom:0;right:0;z-index:99
}
#wlc img{
height:100%;
    width:100%;
    border:0;
}

.sideMenuBg{
    background: url("../img/login_bg.png"),url("../img/main_bg.png");
    background-size: cover; -moz-background-size: cover;
}

.sideMenuList{
    position: absolute; top:105px; right: 0; left: 0; bottom: 0
}

.noLogin{
    display: block;
}
.sideMenuBg a.activated,.sideMenuBg .noLogin.activated{
    background-color: rgba(255, 255, 255, 0.08);
}

.sideMenuBg a{
    text-decoration: none;
}

.sideMenuBg .item.item-avatar{
    border: none;
}

.sideMenuBg .item{
    border-style: solid;
    border-color: #b2b2b2;
    color:#DFE8EA
}



.sideMenuBg .item:first-child{
    border-top: none;
}

.sideMenuBg .item{
    background: transparent;
    border-left: none;
    border-right: none;
}


.sideMenuBg .item-avatar > img:first-child{
 max-width: 70px; max-height: 70px;
}

.aboutContent .list .item{
    font-weight: bold; font-size: 16px;
}

.aboutContent .row .col{
    text-align: center; margin-top: 20px;
}

.aboutContent .row .col h3{
    margin-top: 3px; font-weight: bold
}

#subtool{
    text-indent: 24px; display: none
}

.bar.bar-footer .title{
    color: #D6404F;font-size: 14px;
}

.sideLeftBtn{
    width: 78px; height: 28px; margin-top: 4px;
}
.loginState .item.item-avatar{
    min-height: 110px
}

.loginState .item.item-avatar p{
    margin-top: 26px; color: #d7d7d7; margin-left: 22px;font-size: 18px;
}
.noLogin .item.item-avatar{
    min-height: 110px
}

.noLogin .item.item-avatar h2{
    margin-top: 12px; color: #FFF; margin-left: 20px
}
.noLogin .item.item-avatar p{
    color: #d7d7d7; margin-left: 20px;font-size: 12px
}

.homeSlide img{
    width:100%; height:150px
}

.downProgressContainer{
    z-index: 99; left: 0;right: 0; margin-top: -25px;
    position: absolute; top: 50%;
}

.corebg{
    background-color: rgba(158, 150, 147, 1);
}

.shell .core{
    text-align: center;
    height:18px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 8px;

}
.shell .core a{
    display:block;
    font-size:15px;
    line-height:18px;
    text-decoration:none;
    color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shell .core a.activated{
    opacity: 0.5;
}